@charset "UTF-8";
/* CSS Document */
.myDiv{
	text-align: center;
}

body {
	background-color: azure;
}

body{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

/*style the header */
header{
	background-color: azure;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: tomato;
}

h1 {
	color: tomato;
	align-content: center;
	
}

body {
	
}
